@import "tailwindcss";

@theme {

    /* Colores principales */
    --color-primary: #E8602A;
    --color-secondary: #AD461D;
    --color-success: #4CAF50;
    --color-error: #F44336;

    /* Backgrounds y Superficies */
    --color-background: #F8F7F4;
    --color-surface: #0E0E0E;

    /* Colores neutros */
    --color-dark: #333333;
    --color-light: #FFFFFF;
    --color-gray: #A9A9A9;
}

@source "./app/**/*.{html,ts}";

body {
    font-family: 'Ranade', sans-serif;
}